<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
<form action="/signup" method="post">
    <input type="text" name="username" placeholder="username" required="required">
    <input type="password" name="password" placeholder="password" required="required">
    <input type="email" name="email" placeholder="email" required="required">
    <input type="text" name="name" placeholder="name" required="required">
    <button>가입</button>
</form>
</body>
</html>